/*
 * NCI EVS Rest API
 * Endpoints to support searching, metadata, and content retrieval for EVS terminologies. To learn more about how to interact with this api, see the <a href=\"https://github.com/NCIEVS/evsrestapi-client-SDK\">Github evsrestapi-client-SDK project.</a>
 *
 * The version of the OpenAPI document: 2.3.0.RELEASE
 * Contact: NCIAppSupport@nih.gov
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package gov.nih.nci.evs.api;

import gov.nih.nci.evs.api.invoker.ApiClient;
import gov.nih.nci.evs.api.invoker.ApiException;
import gov.nih.nci.evs.api.invoker.ApiResponse;
import gov.nih.nci.evs.api.invoker.Pair;

import gov.nih.nci.evs.api.model.Association;
import gov.nih.nci.evs.api.model.AssociationEntryResultList;
import gov.nih.nci.evs.api.model.Concept;
import gov.nih.nci.evs.api.model.DisjointWith;
import gov.nih.nci.evs.api.model.HierarchyNode;
import gov.nih.nci.evs.api.model.Mapping;
import gov.nih.nci.evs.api.model.RestException;
import gov.nih.nci.evs.api.model.Role;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2026-05-09T19:13:16.571423-07:00[America/Los_Angeles]", comments = "Generator version: 7.5.0")
public class ConceptEndpointsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public ConceptEndpointsApi() {
    this(new ApiClient());
  }

  public ConceptEndpointsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Get all codes for the specified terminology
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return List&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public List<String> getAllCodesForTerminology(String terminology, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<List<String>> localVarResponse = getAllCodesForTerminologyWithHttpInfo(terminology, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get all codes for the specified terminology
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return ApiResponse&lt;List&lt;String&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<String>> getAllCodesForTerminologyWithHttpInfo(String terminology, String xEVSRESTAPILicenseKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getAllCodesForTerminologyRequestBuilder(terminology, xEVSRESTAPILicenseKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getAllCodesForTerminology", localVarResponse);
        }
        return new ApiResponse<List<String>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<String>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getAllCodesForTerminologyRequestBuilder(String terminology, String xEVSRESTAPILicenseKey) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getAllCodesForTerminology");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/concept/{terminology}/codes"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xEVSRESTAPILicenseKey != null) {
      localVarRequestBuilder.header("X-EVSRESTAPI-License-Key", xEVSRESTAPILicenseKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get the association entries for the specified terminology and code. Associations used to define subset membership are not resolved by this call
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param codeOrLabel Code/label in the specified terminology, e.g. &#39;A5&#39; or &#39;Has_Salt_Form&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param fromRecord Start index of the search results (optional)
   * @param pageSize Max number of results to return (optional)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return AssociationEntryResultList
   * @throws ApiException if fails to make API call
   */
  public AssociationEntryResultList getAssociationEntries(String terminology, String codeOrLabel, Integer fromRecord, Integer pageSize, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<AssociationEntryResultList> localVarResponse = getAssociationEntriesWithHttpInfo(terminology, codeOrLabel, fromRecord, pageSize, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get the association entries for the specified terminology and code. Associations used to define subset membership are not resolved by this call
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param codeOrLabel Code/label in the specified terminology, e.g. &#39;A5&#39; or &#39;Has_Salt_Form&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param fromRecord Start index of the search results (optional)
   * @param pageSize Max number of results to return (optional)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return ApiResponse&lt;AssociationEntryResultList&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AssociationEntryResultList> getAssociationEntriesWithHttpInfo(String terminology, String codeOrLabel, Integer fromRecord, Integer pageSize, String xEVSRESTAPILicenseKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getAssociationEntriesRequestBuilder(terminology, codeOrLabel, fromRecord, pageSize, xEVSRESTAPILicenseKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getAssociationEntries", localVarResponse);
        }
        return new ApiResponse<AssociationEntryResultList>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<AssociationEntryResultList>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getAssociationEntriesRequestBuilder(String terminology, String codeOrLabel, Integer fromRecord, Integer pageSize, String xEVSRESTAPILicenseKey) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getAssociationEntries");
    }
    // verify the required parameter 'codeOrLabel' is set
    if (codeOrLabel == null) {
      throw new ApiException(400, "Missing the required parameter 'codeOrLabel' when calling getAssociationEntries");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/concept/{terminology}/associations/{codeOrLabel}"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{codeOrLabel}", ApiClient.urlEncode(codeOrLabel.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "fromRecord";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("fromRecord", fromRecord));
    localVarQueryParameterBaseName = "pageSize";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageSize", pageSize));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (xEVSRESTAPILicenseKey != null) {
      localVarRequestBuilder.header("X-EVSRESTAPI-License-Key", xEVSRESTAPILicenseKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get the associations for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; or &#39;ncim&#39; (&lt;a href&#x3D;\&quot;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/TERMINOLOGIES.md\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See here for complete list&lt;/a&gt;) (required)
   * @param code Code in the specified terminology, e.g. &lt;ul&gt;&lt;li&gt;&#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&#39;C0025202&#39; for &lt;i&gt;ncim&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt; (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return List&lt;Association&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Association> getAssociations1(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<List<Association>> localVarResponse = getAssociations1WithHttpInfo(terminology, code, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get the associations for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; or &#39;ncim&#39; (&lt;a href&#x3D;\&quot;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/TERMINOLOGIES.md\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See here for complete list&lt;/a&gt;) (required)
   * @param code Code in the specified terminology, e.g. &lt;ul&gt;&lt;li&gt;&#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&#39;C0025202&#39; for &lt;i&gt;ncim&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt; (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return ApiResponse&lt;List&lt;Association&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Association>> getAssociations1WithHttpInfo(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getAssociations1RequestBuilder(terminology, code, xEVSRESTAPILicenseKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getAssociations1", localVarResponse);
        }
        return new ApiResponse<List<Association>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<Association>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getAssociations1RequestBuilder(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getAssociations1");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getAssociations1");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/concept/{terminology}/{code}/associations"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xEVSRESTAPILicenseKey != null) {
      localVarRequestBuilder.header("X-EVSRESTAPI-License-Key", xEVSRESTAPILicenseKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get child concepts for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; or &#39;ncim&#39; (&lt;a href&#x3D;\&quot;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/TERMINOLOGIES.md\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See here for complete list&lt;/a&gt;) (required)
   * @param code Code in the specified terminology, e.g. &lt;ul&gt;&lt;li&gt;&#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&#39;C0025202&#39; for &lt;i&gt;ncim&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt; (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return List&lt;Concept&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Concept> getChildren(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<List<Concept>> localVarResponse = getChildrenWithHttpInfo(terminology, code, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get child concepts for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; or &#39;ncim&#39; (&lt;a href&#x3D;\&quot;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/TERMINOLOGIES.md\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See here for complete list&lt;/a&gt;) (required)
   * @param code Code in the specified terminology, e.g. &lt;ul&gt;&lt;li&gt;&#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&#39;C0025202&#39; for &lt;i&gt;ncim&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt; (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return ApiResponse&lt;List&lt;Concept&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Concept>> getChildrenWithHttpInfo(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getChildrenRequestBuilder(terminology, code, xEVSRESTAPILicenseKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getChildren", localVarResponse);
        }
        return new ApiResponse<List<Concept>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<Concept>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getChildrenRequestBuilder(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getChildren");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getChildren");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/concept/{terminology}/{code}/children"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xEVSRESTAPILicenseKey != null) {
      localVarRequestBuilder.header("X-EVSRESTAPI-License-Key", xEVSRESTAPILicenseKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get the concept for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; or &#39;ncim&#39; (&lt;a href&#x3D;\&quot;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/TERMINOLOGIES.md\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See here for complete list&lt;/a&gt;) (required)
   * @param code Code in the specified terminology, e.g.&lt;ul&gt;&lt;li&gt;&#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&#39;C0025202&#39; for &lt;i&gt;ncim&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt; (required)
   * @param limit If set to an integer (between &lt;i&gt;1&lt;/i&gt; and &lt;i&gt;100&lt;/i&gt;), elements of the concept should be limited to that specified number of entries. Thus a user interface can quickly retrieve initial data for a concept (even with &lt;i&gt;include&#x3D;full&lt;/i&gt;) and then call back for more data. An extra placeholder entry with just a &lt;i&gt;ct&lt;/i&gt; field will be included to indicate the total count. (optional)
   * @param include Indicator of how much data to return. Comma-separated list of any of the following values: minimal, summary, full, associations, children, definitions, disjointWith, history, inverseAssociations, inverseRoles, maps, parents, properties, roles, synonyms. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/INCLUDE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return Concept
   * @throws ApiException if fails to make API call
   */
  public Concept getConcept(String terminology, String code, Integer limit, String include, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<Concept> localVarResponse = getConceptWithHttpInfo(terminology, code, limit, include, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get the concept for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; or &#39;ncim&#39; (&lt;a href&#x3D;\&quot;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/TERMINOLOGIES.md\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See here for complete list&lt;/a&gt;) (required)
   * @param code Code in the specified terminology, e.g.&lt;ul&gt;&lt;li&gt;&#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&#39;C0025202&#39; for &lt;i&gt;ncim&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt; (required)
   * @param limit If set to an integer (between &lt;i&gt;1&lt;/i&gt; and &lt;i&gt;100&lt;/i&gt;), elements of the concept should be limited to that specified number of entries. Thus a user interface can quickly retrieve initial data for a concept (even with &lt;i&gt;include&#x3D;full&lt;/i&gt;) and then call back for more data. An extra placeholder entry with just a &lt;i&gt;ct&lt;/i&gt; field will be included to indicate the total count. (optional)
   * @param include Indicator of how much data to return. Comma-separated list of any of the following values: minimal, summary, full, associations, children, definitions, disjointWith, history, inverseAssociations, inverseRoles, maps, parents, properties, roles, synonyms. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/INCLUDE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return ApiResponse&lt;Concept&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Concept> getConceptWithHttpInfo(String terminology, String code, Integer limit, String include, String xEVSRESTAPILicenseKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getConceptRequestBuilder(terminology, code, limit, include, xEVSRESTAPILicenseKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getConcept", localVarResponse);
        }
        return new ApiResponse<Concept>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Concept>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getConceptRequestBuilder(String terminology, String code, Integer limit, String include, String xEVSRESTAPILicenseKey) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getConcept");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getConcept");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/concept/{terminology}/{code}"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "include";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("include", include));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (xEVSRESTAPILicenseKey != null) {
      localVarRequestBuilder.header("X-EVSRESTAPI-License-Key", xEVSRESTAPILicenseKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get concepts specified by list parameter
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; or &#39;ncim&#39; (&lt;a href&#x3D;\&quot;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/TERMINOLOGIES.md\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See here for complete list&lt;/a&gt;) (required)
   * @param _list List (comma-separated) of codes to return concepts for, e.g.&lt;ul&gt;&lt;li&gt;&#39;C2291,C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&#39;C0010137,C0025202&#39; for &lt;i&gt;ncim&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt; (required)
   * @param include Indicator of how much data to return. Comma-separated list of any of the following values: minimal, summary, full, associations, children, definitions, disjointWith, history, inverseAssociations, inverseRoles, maps, parents, properties, roles, synonyms. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/INCLUDE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return List&lt;Concept&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Concept> getConcepts(String terminology, String _list, String include, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<List<Concept>> localVarResponse = getConceptsWithHttpInfo(terminology, _list, include, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get concepts specified by list parameter
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; or &#39;ncim&#39; (&lt;a href&#x3D;\&quot;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/TERMINOLOGIES.md\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See here for complete list&lt;/a&gt;) (required)
   * @param _list List (comma-separated) of codes to return concepts for, e.g.&lt;ul&gt;&lt;li&gt;&#39;C2291,C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&#39;C0010137,C0025202&#39; for &lt;i&gt;ncim&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt; (required)
   * @param include Indicator of how much data to return. Comma-separated list of any of the following values: minimal, summary, full, associations, children, definitions, disjointWith, history, inverseAssociations, inverseRoles, maps, parents, properties, roles, synonyms. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/INCLUDE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return ApiResponse&lt;List&lt;Concept&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Concept>> getConceptsWithHttpInfo(String terminology, String _list, String include, String xEVSRESTAPILicenseKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getConceptsRequestBuilder(terminology, _list, include, xEVSRESTAPILicenseKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getConcepts", localVarResponse);
        }
        return new ApiResponse<List<Concept>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<Concept>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getConceptsRequestBuilder(String terminology, String _list, String include, String xEVSRESTAPILicenseKey) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getConcepts");
    }
    // verify the required parameter '_list' is set
    if (_list == null) {
      throw new ApiException(400, "Missing the required parameter '_list' when calling getConcepts");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/concept/{terminology}"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "include";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("include", include));
    localVarQueryParameterBaseName = "list";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("list", _list));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (xEVSRESTAPILicenseKey != null) {
      localVarRequestBuilder.header("X-EVSRESTAPI-License-Key", xEVSRESTAPILicenseKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get descendant concepts for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39;&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param fromRecord Start index of the search results (optional)
   * @param pageSize Max number of results to return (optional)
   * @param maxLevel Max level of results to return (optional)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return List&lt;Concept&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Concept> getDescendants(String terminology, String code, Integer fromRecord, Integer pageSize, Integer maxLevel, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<List<Concept>> localVarResponse = getDescendantsWithHttpInfo(terminology, code, fromRecord, pageSize, maxLevel, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get descendant concepts for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39;&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param fromRecord Start index of the search results (optional)
   * @param pageSize Max number of results to return (optional)
   * @param maxLevel Max level of results to return (optional)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return ApiResponse&lt;List&lt;Concept&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Concept>> getDescendantsWithHttpInfo(String terminology, String code, Integer fromRecord, Integer pageSize, Integer maxLevel, String xEVSRESTAPILicenseKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getDescendantsRequestBuilder(terminology, code, fromRecord, pageSize, maxLevel, xEVSRESTAPILicenseKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getDescendants", localVarResponse);
        }
        return new ApiResponse<List<Concept>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<Concept>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getDescendantsRequestBuilder(String terminology, String code, Integer fromRecord, Integer pageSize, Integer maxLevel, String xEVSRESTAPILicenseKey) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getDescendants");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getDescendants");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/concept/{terminology}/{code}/descendants"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "fromRecord";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("fromRecord", fromRecord));
    localVarQueryParameterBaseName = "pageSize";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageSize", pageSize));
    localVarQueryParameterBaseName = "maxLevel";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("maxLevel", maxLevel));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (xEVSRESTAPILicenseKey != null) {
      localVarRequestBuilder.header("X-EVSRESTAPI-License-Key", xEVSRESTAPILicenseKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get \&quot;disjoint with\&quot; info for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3910&#39; for &lt;i&gt;ncit&lt;/i&gt;.  This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return List&lt;DisjointWith&gt;
   * @throws ApiException if fails to make API call
   */
  public List<DisjointWith> getDisjointWith(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<List<DisjointWith>> localVarResponse = getDisjointWithWithHttpInfo(terminology, code, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get \&quot;disjoint with\&quot; info for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3910&#39; for &lt;i&gt;ncit&lt;/i&gt;.  This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return ApiResponse&lt;List&lt;DisjointWith&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<DisjointWith>> getDisjointWithWithHttpInfo(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getDisjointWithRequestBuilder(terminology, code, xEVSRESTAPILicenseKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getDisjointWith", localVarResponse);
        }
        return new ApiResponse<List<DisjointWith>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<DisjointWith>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getDisjointWithRequestBuilder(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getDisjointWith");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getDisjointWith");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/concept/{terminology}/{code}/disjointWith"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xEVSRESTAPILicenseKey != null) {
      localVarRequestBuilder.header("X-EVSRESTAPI-License-Key", xEVSRESTAPILicenseKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get history for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt; and &lt;i&gt;ncim&lt;/i&gt;. (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return Concept
   * @throws ApiException if fails to make API call
   */
  public Concept getHistory(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<Concept> localVarResponse = getHistoryWithHttpInfo(terminology, code, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get history for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt; and &lt;i&gt;ncim&lt;/i&gt;. (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return ApiResponse&lt;Concept&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Concept> getHistoryWithHttpInfo(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getHistoryRequestBuilder(terminology, code, xEVSRESTAPILicenseKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getHistory", localVarResponse);
        }
        return new ApiResponse<Concept>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Concept>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getHistoryRequestBuilder(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getHistory");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getHistory");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/concept/{terminology}/{code}/history"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xEVSRESTAPILicenseKey != null) {
      localVarRequestBuilder.header("X-EVSRESTAPI-License-Key", xEVSRESTAPILicenseKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get inverse associations for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; or &#39;ncim&#39; (&lt;a href&#x3D;\&quot;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/TERMINOLOGIES.md\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See here for complete list&lt;/a&gt;) (required)
   * @param code Code in the specified terminology, e.g.&lt;ul&gt;&lt;li&gt;&#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&#39;C0025202&#39; for &lt;i&gt;ncim&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt; (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return List&lt;Association&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Association> getInverseAssociations(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<List<Association>> localVarResponse = getInverseAssociationsWithHttpInfo(terminology, code, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get inverse associations for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; or &#39;ncim&#39; (&lt;a href&#x3D;\&quot;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/TERMINOLOGIES.md\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See here for complete list&lt;/a&gt;) (required)
   * @param code Code in the specified terminology, e.g.&lt;ul&gt;&lt;li&gt;&#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&#39;C0025202&#39; for &lt;i&gt;ncim&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt; (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return ApiResponse&lt;List&lt;Association&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Association>> getInverseAssociationsWithHttpInfo(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getInverseAssociationsRequestBuilder(terminology, code, xEVSRESTAPILicenseKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getInverseAssociations", localVarResponse);
        }
        return new ApiResponse<List<Association>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<Association>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getInverseAssociationsRequestBuilder(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getInverseAssociations");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getInverseAssociations");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/concept/{terminology}/{code}/inverseAssociations"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xEVSRESTAPILicenseKey != null) {
      localVarRequestBuilder.header("X-EVSRESTAPI-License-Key", xEVSRESTAPILicenseKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get inverse roles for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;.  This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return List&lt;Role&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Role> getInverseRoles(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<List<Role>> localVarResponse = getInverseRolesWithHttpInfo(terminology, code, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get inverse roles for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;.  This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return ApiResponse&lt;List&lt;Role&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Role>> getInverseRolesWithHttpInfo(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getInverseRolesRequestBuilder(terminology, code, xEVSRESTAPILicenseKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getInverseRoles", localVarResponse);
        }
        return new ApiResponse<List<Role>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<Role>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getInverseRolesRequestBuilder(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getInverseRoles");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getInverseRoles");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/concept/{terminology}/{code}/inverseRoles"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xEVSRESTAPILicenseKey != null) {
      localVarRequestBuilder.header("X-EVSRESTAPI-License-Key", xEVSRESTAPILicenseKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get maps for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return List&lt;Mapping&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Mapping> getMaps(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<List<Mapping>> localVarResponse = getMapsWithHttpInfo(terminology, code, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get maps for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return ApiResponse&lt;List&lt;Mapping&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Mapping>> getMapsWithHttpInfo(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getMapsRequestBuilder(terminology, code, xEVSRESTAPILicenseKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getMaps", localVarResponse);
        }
        return new ApiResponse<List<Mapping>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<Mapping>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getMapsRequestBuilder(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getMaps");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getMaps");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/concept/{terminology}/{code}/maps"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xEVSRESTAPILicenseKey != null) {
      localVarRequestBuilder.header("X-EVSRESTAPI-License-Key", xEVSRESTAPILicenseKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get parent concepts for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; or &#39;ncim&#39; (&lt;a href&#x3D;\&quot;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/TERMINOLOGIES.md\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See here for complete list&lt;/a&gt;) (required)
   * @param code Code in the specified terminology, e.g. &lt;ul&gt;&lt;li&gt;&#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&#39;C0025202&#39; for &lt;i&gt;ncim&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt; (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return List&lt;Concept&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Concept> getParents(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<List<Concept>> localVarResponse = getParentsWithHttpInfo(terminology, code, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get parent concepts for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; or &#39;ncim&#39; (&lt;a href&#x3D;\&quot;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/TERMINOLOGIES.md\&quot; target&#x3D;\&quot;_blank\&quot;&gt;See here for complete list&lt;/a&gt;) (required)
   * @param code Code in the specified terminology, e.g. &lt;ul&gt;&lt;li&gt;&#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&#39;C0025202&#39; for &lt;i&gt;ncim&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt; (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return ApiResponse&lt;List&lt;Concept&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Concept>> getParentsWithHttpInfo(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getParentsRequestBuilder(terminology, code, xEVSRESTAPILicenseKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getParents", localVarResponse);
        }
        return new ApiResponse<List<Concept>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<Concept>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getParentsRequestBuilder(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getParents");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getParents");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/concept/{terminology}/{code}/parents"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xEVSRESTAPILicenseKey != null) {
      localVarRequestBuilder.header("X-EVSRESTAPI-License-Key", xEVSRESTAPILicenseKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get paths from the hierarchy root to the specified concept.
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param include Indicator of how much data to return. Comma-separated list of any of the following values: minimal, summary, full, associations, children, definitions, disjointWith, history, inverseAssociations, inverseRoles, maps, parents, properties, roles, synonyms. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/INCLUDE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. For this call, it is recommended to avoid using this parameter unless you need it for a specific use case.  Any value other than &#39;minimal&#39; may produce very large payload results.  (optional)
   * @param fromRecord Start index of the search results (optional)
   * @param pageSize Max number of results to return (optional)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return List&lt;List&lt;Concept&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public List<List<Concept>> getPathsFromRoot(String terminology, String code, String include, Integer fromRecord, Integer pageSize, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<List<List<Concept>>> localVarResponse = getPathsFromRootWithHttpInfo(terminology, code, include, fromRecord, pageSize, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get paths from the hierarchy root to the specified concept.
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param include Indicator of how much data to return. Comma-separated list of any of the following values: minimal, summary, full, associations, children, definitions, disjointWith, history, inverseAssociations, inverseRoles, maps, parents, properties, roles, synonyms. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/INCLUDE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. For this call, it is recommended to avoid using this parameter unless you need it for a specific use case.  Any value other than &#39;minimal&#39; may produce very large payload results.  (optional)
   * @param fromRecord Start index of the search results (optional)
   * @param pageSize Max number of results to return (optional)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return ApiResponse&lt;List&lt;List&lt;Concept&gt;&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<List<Concept>>> getPathsFromRootWithHttpInfo(String terminology, String code, String include, Integer fromRecord, Integer pageSize, String xEVSRESTAPILicenseKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getPathsFromRootRequestBuilder(terminology, code, include, fromRecord, pageSize, xEVSRESTAPILicenseKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getPathsFromRoot", localVarResponse);
        }
        return new ApiResponse<List<List<Concept>>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<List<Concept>>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getPathsFromRootRequestBuilder(String terminology, String code, String include, Integer fromRecord, Integer pageSize, String xEVSRESTAPILicenseKey) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getPathsFromRoot");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getPathsFromRoot");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/concept/{terminology}/{code}/pathsFromRoot"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "include";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("include", include));
    localVarQueryParameterBaseName = "fromRecord";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("fromRecord", fromRecord));
    localVarQueryParameterBaseName = "pageSize";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageSize", pageSize));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (xEVSRESTAPILicenseKey != null) {
      localVarRequestBuilder.header("X-EVSRESTAPI-License-Key", xEVSRESTAPILicenseKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get paths from the specified code to the specified ancestor code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param ancestorCode Ancestor code of the other specified code, e.g. &#39;C2991&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param include Indicator of how much data to return. Comma-separated list of any of the following values: minimal, summary, full, associations, children, definitions, disjointWith, history, inverseAssociations, inverseRoles, maps, parents, properties, roles, synonyms. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/INCLUDE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. For this call, it is recommended to avoid using this parameter unless you need it for a specific use case.  Any value other than &#39;minimal&#39; may produce very large payload results.  (optional)
   * @param fromRecord Start index of the search results (optional)
   * @param pageSize Max number of results to return (optional)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return List&lt;List&lt;Concept&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public List<List<Concept>> getPathsToAncestor(String terminology, String code, String ancestorCode, String include, Integer fromRecord, Integer pageSize, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<List<List<Concept>>> localVarResponse = getPathsToAncestorWithHttpInfo(terminology, code, ancestorCode, include, fromRecord, pageSize, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get paths from the specified code to the specified ancestor code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param ancestorCode Ancestor code of the other specified code, e.g. &#39;C2991&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param include Indicator of how much data to return. Comma-separated list of any of the following values: minimal, summary, full, associations, children, definitions, disjointWith, history, inverseAssociations, inverseRoles, maps, parents, properties, roles, synonyms. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/INCLUDE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. For this call, it is recommended to avoid using this parameter unless you need it for a specific use case.  Any value other than &#39;minimal&#39; may produce very large payload results.  (optional)
   * @param fromRecord Start index of the search results (optional)
   * @param pageSize Max number of results to return (optional)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return ApiResponse&lt;List&lt;List&lt;Concept&gt;&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<List<Concept>>> getPathsToAncestorWithHttpInfo(String terminology, String code, String ancestorCode, String include, Integer fromRecord, Integer pageSize, String xEVSRESTAPILicenseKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getPathsToAncestorRequestBuilder(terminology, code, ancestorCode, include, fromRecord, pageSize, xEVSRESTAPILicenseKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getPathsToAncestor", localVarResponse);
        }
        return new ApiResponse<List<List<Concept>>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<List<Concept>>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getPathsToAncestorRequestBuilder(String terminology, String code, String ancestorCode, String include, Integer fromRecord, Integer pageSize, String xEVSRESTAPILicenseKey) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getPathsToAncestor");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getPathsToAncestor");
    }
    // verify the required parameter 'ancestorCode' is set
    if (ancestorCode == null) {
      throw new ApiException(400, "Missing the required parameter 'ancestorCode' when calling getPathsToAncestor");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/concept/{terminology}/{code}/pathsToAncestor/{ancestorCode}"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()))
        .replace("{ancestorCode}", ApiClient.urlEncode(ancestorCode.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "include";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("include", include));
    localVarQueryParameterBaseName = "fromRecord";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("fromRecord", fromRecord));
    localVarQueryParameterBaseName = "pageSize";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageSize", pageSize));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (xEVSRESTAPILicenseKey != null) {
      localVarRequestBuilder.header("X-EVSRESTAPI-License-Key", xEVSRESTAPILicenseKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get paths to the hierarchy root from the specified code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param include Indicator of how much data to return. Comma-separated list of any of the following values: minimal, summary, full, associations, children, definitions, disjointWith, history, inverseAssociations, inverseRoles, maps, parents, properties, roles, synonyms. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/INCLUDE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. For this call, it is recommended to avoid using this parameter unless you need it for a specific use case.  Any value other than &#39;minimal&#39; may produce very large payload results.  (optional)
   * @param fromRecord Start index of the search results (optional)
   * @param pageSize Max number of results to return (optional)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return List&lt;List&lt;Concept&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public List<List<Concept>> getPathsToRoot(String terminology, String code, String include, Integer fromRecord, Integer pageSize, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<List<List<Concept>>> localVarResponse = getPathsToRootWithHttpInfo(terminology, code, include, fromRecord, pageSize, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get paths to the hierarchy root from the specified code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param include Indicator of how much data to return. Comma-separated list of any of the following values: minimal, summary, full, associations, children, definitions, disjointWith, history, inverseAssociations, inverseRoles, maps, parents, properties, roles, synonyms. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/INCLUDE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. For this call, it is recommended to avoid using this parameter unless you need it for a specific use case.  Any value other than &#39;minimal&#39; may produce very large payload results.  (optional)
   * @param fromRecord Start index of the search results (optional)
   * @param pageSize Max number of results to return (optional)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return ApiResponse&lt;List&lt;List&lt;Concept&gt;&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<List<Concept>>> getPathsToRootWithHttpInfo(String terminology, String code, String include, Integer fromRecord, Integer pageSize, String xEVSRESTAPILicenseKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getPathsToRootRequestBuilder(terminology, code, include, fromRecord, pageSize, xEVSRESTAPILicenseKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getPathsToRoot", localVarResponse);
        }
        return new ApiResponse<List<List<Concept>>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<List<Concept>>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getPathsToRootRequestBuilder(String terminology, String code, String include, Integer fromRecord, Integer pageSize, String xEVSRESTAPILicenseKey) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getPathsToRoot");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getPathsToRoot");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/concept/{terminology}/{code}/pathsToRoot"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "include";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("include", include));
    localVarQueryParameterBaseName = "fromRecord";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("fromRecord", fromRecord));
    localVarQueryParameterBaseName = "pageSize";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageSize", pageSize));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (xEVSRESTAPILicenseKey != null) {
      localVarRequestBuilder.header("X-EVSRESTAPI-License-Key", xEVSRESTAPILicenseKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get roles for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return List&lt;Role&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Role> getRoles1(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<List<Role>> localVarResponse = getRoles1WithHttpInfo(terminology, code, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get roles for the specified terminology and code
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39; (required)
   * @param code Code in the specified terminology, e.g. &#39;C3224&#39; for &lt;i&gt;ncit&lt;/i&gt;. This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return ApiResponse&lt;List&lt;Role&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Role>> getRoles1WithHttpInfo(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getRoles1RequestBuilder(terminology, code, xEVSRESTAPILicenseKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getRoles1", localVarResponse);
        }
        return new ApiResponse<List<Role>>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<Role>>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getRoles1RequestBuilder(String terminology, String code, String xEVSRESTAPILicenseKey) throws ApiException {
    // verify the required parameter 'terminology' is set
    if (terminology == null) {
      throw new ApiException(400, "Missing the required parameter 'terminology' when calling getRoles1");
    }
    // verify the required parameter 'code' is set
    if (code == null) {
      throw new ApiException(400, "Missing the required parameter 'code' when calling getRoles1");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/concept/{terminology}/{code}/roles"
        .replace("{terminology}", ApiClient.urlEncode(terminology.toString()))
        .replace("{code}", ApiClient.urlEncode(code.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (xEVSRESTAPILicenseKey != null) {
      localVarRequestBuilder.header("X-EVSRESTAPI-License-Key", xEVSRESTAPILicenseKey.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get root concepts for the specified terminology
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39;.  This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
   * @param include Indicator of how much data to return. Comma-separated list of any of the following values: minimal, summary, full, associations, children, definitions, disjointWith, history, inverseAssociations, inverseRoles, maps, parents, properties, roles, synonyms. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/INCLUDE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @param xEVSRESTAPILicenseKey Required license information for restricted terminologies. &lt;a href&#x3D;&#39;https://github.com/NCIEVS/evsrestapi-client-SDK/blob/main/doc/LICENSE.md&#39; target&#x3D;&#39;_blank&#39;&gt;See here for detailed information&lt;/a&gt;. (optional)
   * @return List&lt;Concept&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Concept> getRoots(String terminology, String include, String xEVSRESTAPILicenseKey) throws ApiException {
    ApiResponse<List<Concept>> localVarResponse = getRootsWithHttpInfo(terminology, include, xEVSRESTAPILicenseKey);
    return localVarResponse.getData();
  }

  /**
   * Get root concepts for the specified terminology
   * 
   * @param terminology Terminology, e.g. &#39;ncit&#39;.  This call is only meaningful for &lt;i&gt;ncit&lt;/i&gt;. (required)
[...]
