.gradle/*
build/*
setenv.sh
/.gradle/
.classpath
.project
.pydevproject
.settings/
bin/
__pycache__
/build/
python-examples/logs.txt
.DS_Store
.idea

doc/code-gen/.idea
doc/code-gen/.gradle
doc/code-gen/build
*/gradle/wrapper/*
*/.gradle
*/node_modules
